.footer {
	padding: $gutter-sm 0;
	background-color: $red-purple;
	@include gradient-horizontal-three-colors($purple, $red-purple, 20%, $red);

	.footer__copy {
		color: $white;
		font-size: $font-size-base;
		font-weight: $font-weight-normal;
	}

	.footer__link {
		color: $yellow;

		&:hover {
			color: $yellow;
			text-decoration: none;
		}
	}
}
