.site-nav {
	background-color: transparent;
	border-bottom: 5px solid $yellow;
}

.site-nav__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.site-nav__item {
	display: block;
	float: left;
}

.site-nav__link {
	display: block;
	padding: 15px;
	color: $yellow;
	font-size: 16px;
	@include font-weight(regular);
	line-height: 20px;
}

.site-nav__close, .site-nav__open {
	display: none;
}
