.site-nav {
	height: 50px;;
	background-color: $yellow;
}

.site-nav__list {
	display: block;
	list-style-type: none;
	margin: 10px;

	.site-nav__item {
		display: block;
		float: left;
	}
	.site-nav__link {
		color: $white;
		padding: 15px;
		background-color: $orange;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
	}
}
.site-nav__item--close, .site-nav__open {
	display: none;
}
